<h2>重新发送确认指令</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%#= devise_error_messages! %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "重新发送确认指令", :class => "btn btn-primary", 'data-disable-with' => "正在发送" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>