<h2>重发解锁指令</h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%#= devise_error_messages! %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "重发解锁指令" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>