<h2>登录</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <% if devise_mapping.rememberable? -%>
      <label class="checkbox">
        <%= f.check_box :remember_me %><%= f.label :remember_me %>
      </label>
      <% end -%>
      <%= f.submit "登录", :class => "btn btn-primary", 'data-disable-with' => "正在登录" %>
    </div>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
