<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <% if user_signed_in? %>
      <li <%= "class=active" if params[:controller] == 'notepads' %>>
        <%= link_to "记事本", notepads_path %>
      </li>
      <li <%= "class=active" if params[:controller] == 'devise/registrations' and (params[:action] == 'edit' or params[:action] == 'update') %>>
        <%= link_to "帐户设置", edit_user_registration_path %>
      </li>
      <li><%= link_to "退出", destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li <%= "class=active" if params[:controller] == 'home' %>>
        <%= link_to "首页", root_url %>
      </li>
      <li <%= "class=active" if params[:controller] == 'devise/registrations' and (params[:action] == 'new' or params[:action] == 'create') %>>
        <%= link_to "注册", new_user_registration_path %>
      </li>
      <li <%= "class=active" if params[:controller] == 'devise/sessions' and (params[:action] == 'new' or params[:action] == 'create') %>>
        <%= link_to "登录", new_user_session_path %>
      </li>
    <% end %>
  </ul>
  <h3 class="muted">无敌记事本</h3>
</div>
<hr>