<!DOCTYPE html>
<html>
	<head>
		<title>无敌记事本</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<% if mobile? %>
		  <%= stylesheet_link_tag "mobile" %>
		<% end %>
		<%= Garelic.monitoring ENV['GOOGLE_ANALYTICS_WUDI_NOTEPAD'] %>
	</head>
	<body>
		<div class="container-narrow">
			<%= render 'layouts/fork_me_on_github' %>
			<%= render 'layouts/header' %>
			<%= render 'layouts/messages' %>
			<%= yield %>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
